
<div class="container">
  <h1 style="text-align:'center'">{{ title }} App</h1>
</div>

<!-- APP TAKES IN INPUT VALUES THROUGH INPUT, SENDS CHANGES BACK UP VIA EMITTERS AND EVENTS -->
<app-search-films-form [streamingServiceInput]="streamingServiceInput" [genreSelectionInput]="genreSelectionInput" (searchStreamingSChange)="onSearchFormSubmissionSS($event)" (searchGenreChange)="onSearchFormSubmissionGS($event)"></app-search-films-form>
  <!-- TO SIMULATE FORMATTING -->
  <br/>
  <br/>

<h1 style="text-align: center;">
 Streaming Service: {{streamingServiceInput.toUpperCase()}}
</h1>

<h3 style="text-align: center;">Genres: {{genreSelectionInput}}</h3>

<app-show-films [searchedStreamingService] = "searchedStreamingService"></app-show-films>

<br/>

<app-add-film></app-add-film>

