<div class="container">
    <h4>Add Film To List</h4>

    <input id="film-title-input" placeholder="Film Title Here" [(ngModel)]="newFilmTitle">
    <label for="stream-service-dropdown">Film Genre: &nbsp;&nbsp;
        <select name="Film Genre" id="new-film-genre-dropdown" [(ngModel)]="newFilmGenre">
            <option value="Action" selected>Action</option>
            <option value="Drama">Drama</option>
            <option value="Horror">Horror</option>
            <option value="Suspense">Suspense</option>
            <option value="Sci-fi">Sci-Fi</option>
            <option value="Comedy">Comedy</option>
            <option value="Mystery">Mystery</option>
        </select>
    </label>
    <label for="stream-service-dropdown">Streaming Service: &nbsp;&nbsp;
        <select name="streamService" id="stream-service-dropdown" [(ngModel)]="newFilmStreamingService">
        <option value="HBO" selected >HBO</option>
        <option value="Netflix">Netflix</option>
        <option value="Hulu">Hulu</option>
        </select>
    </label>

    <div>
        <button type="button" (click)="submitNewFilm()">Save New Film</button>
    </div>
</div>